menu "discus"

    menu "Indicator"

        menu "Global"
            
        choice DC_INDICATOR_GLOBAL_TYPE
            prompt "Indicator type for Global Status LED"
            default DC_INDICATOR_GLOBAL_TYPE_RMT

            config DC_INDICATOR_GLOBAL_TYPE_RMT
                bool "RMT"

            config DC_INDICATOR_GLOBAL_TYPE_RGB
                bool "RBG GPIO"

            config DC_INDICATOR_GLOBAL_TYPE_DISABLED
                bool "Disabled"
        endchoice

        config DC_INDICATOR_GLOBAL_RMT_GPIO
            int "Global indicator RMT GPIO"
            depends on DC_INDICATOR_GLOBAL_TYPE_RMT
            default 8
        
        config DC_INDICATOR_GLOBAL_RGB_GPIO_R
            int "Global indicator GPIO Red"
            depends on DC_INDICATOR_GLOBAL_TYPE_RGB

        config DC_INDICATOR_GLOBAL_RGB_GPIO_G
            int "Global indicator GPIO Green"
            depends on DC_INDICATOR_GLOBAL_TYPE_RGB

        config DC_INDICATOR_GLOBAL_RGB_GPIO_B
            int "Global indicator GPIO Blue"
            depends on DC_INDICATOR_GLOBAL_TYPE_RGB
        
        endmenu

        menu "Connectivity"
            choice DC_INDICATOR_CONNECTIVITY_TYPE
                prompt "Indicator type for Connectivity Status LED"
                default DC_INDICATOR_CONNECTIVITY_TYPE_RGB

                config DC_INDICATOR_CONNECTIVITY_TYPE_RMT
                    bool "RMT"

                config DC_INDICATOR_CONNECTIVITY_TYPE_RGB
                    bool "RBG GPIO"
                
                config DC_INDICATOR_CONNECTIVITY_TYPE_DISABLED
                    bool "Disabled"
            endchoice

            config DC_INDICATOR_CONNECTIVITY_RMT_GPIO
                int "Global indicator RMT GPIO"
                depends on DC_INDICATOR_CONNECTIVITY_TYPE_RMT
            
            config DC_INDICATOR_CONNECTIVITY_RGB_GPIO_R
                int "Global indicator GPIO Red"
                depends on DC_INDICATOR_CONNECTIVITY_TYPE_RGB
                default 0

            config DC_INDICATOR_CONNECTIVITY_RGB_GPIO_G
                int "Global indicator GPIO Green"
                depends on DC_INDICATOR_CONNECTIVITY_TYPE_RGB
                default 11

            config DC_INDICATOR_CONNECTIVITY_RGB_GPIO_B
                int "Global indicator GPIO Blue"
                depends on DC_INDICATOR_CONNECTIVITY_TYPE_RGB
                default 10
        
        endmenu

        config DC_INDICATOR_MAX_VALUE
            int "Max intensity"
            range 0 255
            default 5
    endmenu
endmenu