BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 150

AlignAfterOpenBracket: DontAlign

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly

AlignConsecutiveAssignments: false
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^<discus/'
    Priority: 2
  - Regex: '^<discus_zigbee/'
    Priority: 3
  - Regex: '^<esp'
    Priority: 1
  - Regex: '.*'
    Priority: 0

# --- Paramètres ---
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

# --- Constructeur ---
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerIndentWidth: 4

# --- Template ---
AlwaysBreakTemplateDeclarations: Yes