CONFIG_IDF_TARGET="esp32h2"
CONFIG_ZB_ENABLED=y
CONFIG_ZB_SDK_1xx=y
CONFIG_ZB_ZED=y
CONFIG_ZB_RADIO_NATIVE=y


#
# discus
#

#
# Indicator
#

#
# System
#
CONFIG_DC_LED_INDICATOR_SYSTEM_TYPE_RMT=y
# CONFIG_DC_LED_INDICATOR_SYSTEM_TYPE_RGB is not set
# CONFIG_DC_LED_INDICATOR_SYSTEM_TYPE_DISABLED is not set
CONFIG_DC_LED_INDICATOR_SYSTEM_RMT_GPIO=8
# end of System

#
# Zigbee
#
# CONFIG_DC_LED_INDICATOR_ZIGBEE_TYPE_RMT is not set
CONFIG_DC_LED_INDICATOR_ZIGBEE_TYPE_RGB=y
# CONFIG_DC_LED_INDICATOR_ZIGBEE_TYPE_DISABLED is not set
CONFIG_DC_LED_INDICATOR_ZIGBEE_RGB_GPIO_R=0
CONFIG_DC_LED_INDICATOR_ZIGBEE_RGB_GPIO_G=11
CONFIG_DC_LED_INDICATOR_ZIGBEE_RGB_GPIO_B=10
# end of Zigbee

#
# UART
#
# CONFIG_DC_LED_INDICATOR_UART_TYPE_RMT is not set
CONFIG_DC_LED_INDICATOR_UART_TYPE_RGB=y
# CONFIG_DC_LED_INDICATOR_UART_TYPE_DISABLED is not set
CONFIG_DC_LED_INDICATOR_UART_RGB_GPIO_R=0
CONFIG_DC_LED_INDICATOR_UART_RGB_GPIO_G=11
CONFIG_DC_LED_INDICATOR_UART_RGB_GPIO_B=10
# end of UART

CONFIG_DC_LED_INDICATOR_MAX_VALUE=5
# end of Indicator
# end of discus